.mainScreen{
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #9ba9b9;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.topContainer{
    /* background-color: #05828f; */
    flex: 0 0 50px;
    /* border: 1px solid #9ba9b9; */
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}
.leftContainer{
    flex: 0 0 100px;
    /* background-color: #05828f; */
    /* border: 1px solid #9ba9b9; */
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
}
.mainAndLeftContainer{
    position: relative;
    width: 100%;
    display: flex;
    flex: 1 1 auto;
}

.rightContainer{
    position: relative;
    flex: 1 1 auto;
    height: 100%;
    /* padding-top:10px ; */
}
.rowsContainer{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    overflow-x: auto;
    height: 100%;
    flex: 1 1 auto;
}
.rowsContainer::-webkit-scrollbar{
    border-radius: 4px;
    background-color: #9ba9b9;
    margin-left: 2px;
}
.rowsContainer::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: white;
  }

.addCardGroupButton{
    height: 50px;
    border: none;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px; 
    background-color: #05828f;
    color: white;
    margin-left:5px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}
.addCardGroupButton:hover{
    background-color: white;
    color:#05828f;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}