.card{
    flex:1;
    align-items: center;
    padding: 5px;
    background-color: white;
    width: 100%;
    word-wrap: break-word;
    color:cadetblue;
    border-radius: 2px;
}
.removeCardButton{
    color: #05828f;
    border: none;
    border-radius: 50%;
    background-color: transparent;
     /* position: absolute;
     /* right: 30px; */
    /* top: 0px;   */
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.removeCardButton:hover{
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color:#05828f;
}
.cardContainer{
    margin-bottom: 5px;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    border: 2px solid white;
    top: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}
.cardMenu{
   position: absolute; 
       /* right: 30px; */
       top: 0px;
}
.cardContainer:hover{
    border: 2px solid #05828f;
    border-radius: 5px;
    width: 100%;
    box-shadow: none;
}
.cardMenu{
    background-color: #05828f;
}
.dropContent{
    /* display: none; */
    position: absolute;
    background-color: #f1f1f1;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 7px;
    top:25px;
}
.cardDropdown:hover .dropContent{
    display: block;
}
.cardDropdown{
    overflow: hidden;
}
.moveCardMenuHeader{
    background-color: #05828f;
    
}
.cardElement{
    overflow: hidden;
}
.menuCardTitle{
    border: solid 1px #f1f1f1;
}
.menuCardTitle:hover{
    background-color:#05828f
}
.moveCardTitleMenu{
    display: none;
}
.moveCardMenuHeader:hover .moveCardMenuHeader{
    display: block;
}
.cardMenuContent{
    position: absolute;
    top: 0px;
    left: 137px;
}
.modal{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* opacity: 50%; */
    z-index: 2;
    position: absolute;
    /* top:100px; 
    left:350px;  */
    display: flex;
    justify-content: center;
    align-items: center;
}
