.editorContainer{
    height: 250px;
    width: 300px;
    background-color: #e7eaf0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
}
.cardEditorTextareaTitle, .cardEditorTextareaCardContent{
    border: none;
    height: 50px;
    width: 250px;
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    /* border: 2px solid #05828f; */
    border-radius: 8px;
    word-wrap: break-word;
    outline: none;
    overflow: hidden;
    resize: none;
    outline: none;
    box-shadow:  1px 1px 0px 0px rgba(0,0,0,0.2);
}
.cardEditorTextareaCardContent{
    height: 200px;
    /* box-sizing:  1px 0px 0px rgba(0,0,0,0.2) */
}
.editorButtonsContainer{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.editorButton{
    width: 100%;
    flex: 1;
    display: flex;
    border: none;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px; 
    background-color: #f1f2f4;
    color: #99a1b0;
    margin-left: 5px;
    box-shadow:  1px 1px 0px 0px rgba(0,0,0,0.2);
}

.editorButton:hover{
    background-color: #d0d4db;
    color:#99a1b0;
    box-shadow:  1px 1px 0px 0px rgba(0,0,0,0.2);
}